
body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;

}
.container {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
  	width: 100%;
  	position: relative;
}

.header {
    max-width: 100%;
    height: 50vw;
    margin-left: 0;
    margin-right: 0;
    background-image: url(../img/football_1920.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
   
}

.header::after {
	
	content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0e34;
    opacity: 0.9;
}


.logo {
	
	top: 2.34375vw;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	width: 9.95%;
	height: 2.7%;
	fill: #ffffff;
	position: relative;
	z-index: 1;
}

.title_box {
	
	margin-left: auto;
	margin-right: auto;
	top: 37.3333%;
	position: relative;
	z-index: 1;
}

.slogan {
	font-family: sans-serif;
	font-size: 4.6875vw;
	color: #ffffff;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	}

.slogan {
	margin-left: 10%;
}

.slogan_secondline {
	margin-left: 26.5833%;
}

.apps_buttons {
	margin-top: 28.0625vw;
	width: 100%;
	height: 4.0104vw;
	
	position: relative;
	z-index: 1;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
}

.ios, .android {
	background-image: url("../img/pryamougolnik_skrugl_ugly_1_kopiya_949.png");
	width: 16.1979vw;
	padding: 0;
	background-repeat: no-repeat;
	background-size: 100%;
	position: flex;
	z-index: 1;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.ios {
	margin-left: auto;
	margin-right: 1.3020vw;
}

.android {
	margin-right: auto;
	margin-left: 1.3020vw;
}

.ios_icon, .android_icon {
	width: 14.5048%;
	height: 62.3377%;
	fill: #ffffff;
	margin-top: 0.5729vw;
	margin-left: 1.9792vw;
	position: relative;
	z-index: 2;	

}

.android_icon {
	margin-left: 2.3792vw;
}

.box_text_btn {
	padding: 0;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
	z-index: 2;	
	flex-wrap: nowrap;
}

.download, .store {
	
	margin-left: 12.2170%;
	font-family: sans-serif;
	font-size: 0.69916vw;
	line-height: 0.17083vw;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	color: #ffffff;
	position: relative;
	z-index: 2;	
	white-space: nowrap;
}
	
.store {
	font-weight: 700;
	margin-top: 0;
}


/*
.athlets.container,
.players.container {
	max-width: 100%;
    height: 50vw;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    z-index: 1;
}*/


.box_athlets_first, 
.box_athlets_second, 
.box_athlets_third {
	padding-left: 52.55%;
	padding-top: 1.25em;
	z-index: 1;
}

.box_athlets_second,
.box_players_second  {
	background-color: #efefef;
	border: solid 1px #efefef;
	z-index: 1;
}

.box_athlets_third {
	background-color: #5e3db3;
	border: solid 1px #5e3db3;  /*почему без этой рамки появляется поле без фона, а с ней весь блок покрыт фоновым цветом?*/
	z-index: 1;
}


.h2_athlets_title,
.h2_players_title,
.h2_be_active,
.h2_find_contact,
.h2_work_it {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	font-family: sans-serif;
	font-size: 4.1667vw;
	line-height: 3.12vw;
	font-weight: 700;
	color: #e7e7e7;
	text-transform: uppercase;
	z-index: 1;

}

.h3_athlets_first_box,
.h3_athlets_second_box,
.h3_athlets_third_box,
.h3_players_first_box,
.h3_players_second_box,
.h3_players_third_box {
	font-family: sans-serif;
	font-size: 1.875vw;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #c1c1c1;
	z-index: 1;
	
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	
	
}


.icon_subtitle_box {
	height: 1.3041vw;
	margin-top: auto;
	margin-bottom: auto;
	width: 1.198958vw;
	height: 1.354vw;
	display: flex;
	flex-wrap: wrap;
	margin-right: 0.7292vw;
	align-content: space-between;
	justify-content: center;
	z-index: 1;
	
}

.number_one,
.number_two,
.number_three {
	width: 1.038958vw;
	height: 0.65vw;
	z-index: 1;
	
}

.underline_violet {
	fill: #5e42b0;
	width: 1.198958vw;
	z-index: 1;
}


.underline_white {
	fill: #efefef;
	z-index: 1;
}


.text_athlets_first_box,
.text_athlets_second_box,
.text_athlets_third_box,
.text_players_first_box,
.text_players_second_box,
.text_players_third_box {
	width: 36.4583vw;
	font-family: sans-serif;
	font-size: 1.034166vw;
	padding-bottom: 2em;
	line-height: 1.2;
	font-weight: 500;
	letter-spacing: 0.05em;
	color: #000000;
	z-index: 1;
	position: relative;


}


.text_athlets_third_box,
.text_players_third_box {
	color: #ffffff;
	z-index: 1;
}


.footballer {
	width: 29.4791vw;
	height: 47.2916vw;
	position: absolute;
	top: 51.4625vw;
	left: 20.4167vw;
	z-index: 777;
	background-image: url("../img/footballer_566.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.box_players_first, 
.box_players_second, 
.box_players_third {
	padding-left: 10%;
	padding-top: 1.25em;
	z-index: 1;
}


.box_players_third {
	background-color: #0a0e34;
	border: solid 1px #0a0e34;  /*почему без этой рамки появляется поле без фона, а с ней весь блок покрыт фоновым цветом?*/
	z-index: 1;
}

.basketballer {
	width: 51.6145vw;
	height: 42.4479vw;
	position: absolute;
	top: 97.3958vw;
	left: 41.875vw;
	z-index: 888;
	background-image: url("../img/basketballer_991.png");
	background-repeat: no-repeat;
	background-size: cover;
}



.container_gallery {

	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
  	width: 100%;
  	position: relative;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;

}

.card_title {
	position: relative;
	flex-basis: 40%
}

.card_be_active {
	width: 50%;
	height: 38.02083vw;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	background: url(../img/be-active_1024.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #cbe7fd;
	

	
		
}

.card_find_contact {
	width: 50%;
	height: 38.02083vw;
	background-image: url(../img/find-contact_1024.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #e2685c;
			
}

.card_work_it {
	width: 50%;
	height: 38.02083vw;
	background-image: url(../img/work-it_1024.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #5b7aac;
	
		
}

.text_be_active,
.text_find_contact,
.text_work_it {	
	height: 54px;
	font-family: sans-serif;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #000000;
}


.description_box {
	width: 50%;
	padding-left: 6.6146vw;

}
.description_box_find_contact {
	width: 50%;
	max-width: 960px;
	padding-left: 10vw;
	padding-right: 6.6146vw;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	
}

/*
.h2_find_contact {
	
}

.text_find_contact {
	
}*/