
body {
	
	width: 100%;
	margin: 0;
	padding: 0;
	
	background-color: #ffffff;
	position: relative;

}
.container {
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
  	position: relative;
}

.header {
	padding-top: 2.3438vw;
	padding-bottom: 5.792vw;
    max-width: 100%;
    width: 100%;
    background: url(../img/football_1920.jpg) no-repeat 50% 50%;
    display: flex;
	background-size: cover;
  	position: relative;
    flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	
}




.header::after {
	
	content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0e34;
    opacity: 0.9;
   
}


.logo-header {
	width: 9.95vw;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	
}
	

.logo_text{
	height: 2.7083vw;
	width: 9.95vw;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	
	fill: #ffffff;
	position: relative;
	z-index: 1;
}	

.title_box {
	
	max-width: 100%;
	padding-left: 10%;
	margin-top: 15.364vw;
	margin-bottom: 11.5625vw;
	
	position: relative;
	z-index: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	
}

.h1-header {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 4.6875vw;
	color: #ffffff;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	z-index: 1

}



.slogan_secondline {
	padding-left: 23.45vw;
	font-size: 4.6875vw;
	display: block;
}
	


.apps_buttons {
	position: relative;
	width: 100%;
	z-index: 1;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}

.ios, .android {
	background-image: url("../img/pryamougolnik_skrugl_ugly_1_kopiya_949.png");
	width: 16.1979vw;
	height: 4.0104vw;
	padding: 0;
	background-repeat: no-repeat;
	background-size: 100% 4.0104vw;
	z-index: 1;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
	text-decoration: none;
	
}

.ios {
	margin-left: auto;
	margin-right: 1.3020vw;
	display: flex;

}

.android {
	margin-right: auto;
	margin-left: 1.3020vw;
}

.ios_icon, .android_icon {
	width: 14.5048%;
	height: 62.3377%;
	fill: #ffffff;
	margin-top:  3.537%;
	margin-left: 12.22%;;
	position: relative;
	z-index: 2;	

}

.android_icon {
	margin-left: 12.22%;
}

.box_text_btn {
	width: 60%;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 8.039%;
	position: relative;
	z-index: 1;	
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
}

 .download, .store {
	
	font-family: 'Open Sans', sans-serif;
	font-size: 0.7292vw;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffffff;
	position: relative;
	z-index: 2;	
}
	
.store {
	font-weight: 700;
	
} 


.athles_container {
	position: relative;

}

.box_athlets_first, 
.box_athlets_second, 
.box_athlets_third {
	padding-top: 3em;
	padding-bottom: 3.5em;
	padding-right: 10.364%;
	padding-left: 52.55%;	
	position: relative;
	z-index: 1;
}


.box_athlets_second::after {
	
	content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5e42b0;
    opacity: 0.05;
}

.box_athlets_third {
	background-color: #5e3db3;
	z-index: 1;
}


.h2_athlets_title,
.h2_players_title {
	margin: 0;
	padding-top: 0.9em;
	padding-bottom: 1.2em;
	font-family: 'Open Sans', sans-serif;
	font-size: 4.167vw;
	line-height: 0.7487em;
	font-weight: 700;
	color: #e7e7e7;
	text-transform: uppercase;
	z-index: 1;
}

.h3_athlets_first_box,
.h3_athlets_second_box,
.h3_athlets_third_box,
.h3_players_first_box,
.h3_players_second_box,
.h3_players_third_box {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0.4em;
	font-family: 'Open Sans', sans-serif;
	font-size: 01.875vw;
	letter-spacing: 0.05em;
	font-weight: 700;
	text-transform: uppercase;
	
	color: #c1c1c1;
	z-index: 1;
	display: flex;
	flex-wrap: wrap;
	
}


.number_one,
.number_two {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.5em;
	color: #000000;
	padding-top: 0.2738em ;
	padding-right: 0.3333em ;
	font-weight: 900;
	
}

.number_one::after,
.number_two::after {
	content: "";
	position: absolute;
    z-index: 2;
    background: url("../img/subline_violet_athlets_1920.png") no-repeat 50% 50%; 
    background-size: 1.216em 0.2777em;
    top: 1.1111em;
    left: -0.533em;
    right: 0;
    bottom: 0;
}


.number_three {
	position: relative;
	font-family: 'Open Sans-Bold', sans-serif;
	font-size: 0.5em;
	color: #0a0e34;
	padding-top: 0.2738em;
	padding-right: 0.3333em;
	font-weight: 900;
	
}

.number_three::after {
	content: "";
	position: absolute;
    z-index: 2;
    background: url("../img/subline_white_athlets_1920.png") no-repeat 50% 50%; 
    background-size: 1.216em 0.2777em;
    top: 1.1111em;
    left: -0.533em;
    right: 0;
    bottom: 0;
}


.number_three_players {
	position: relative;
	font-family: "Open Sans", sans-serif;
	font-size: 0.5em;
	color: #9173e6;
	padding-top: 0.2738em;
	padding-right: 0.3333em;
	font-weight: 900;
	
}

.number_three_players::after {
	content: "";
	position: absolute;
    z-index: 1;
    background: url("../img/subline_white_athlets_1920.png") no-repeat 50% 50%; 
    background-size: 1.216em 0.2777em;
    top: 1.1111em;
    left: -0.533em;
    right: 0;
    bottom: 0;
}

.underline_violet {
	fill: #5e42b0;
	width: 1.198958vw;
	z-index: 1;
}


.underline_white {
	fill: #efefef;
	z-index: 1;
}


.text_athlets_first_box,
.text_athlets_second_box,
.text_athlets_third_box,
.text_players_first_box,
.text_players_second_box,
.text_players_third_box {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	
	font-family: 'Open Sans Bold', sans-serif;
	font-size: calc(0.416vw + 12px);
	
	line-height: 1.4em;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #000000;
	z-index: 1;
	position: relative;


}


.text_athlets_third_box,
.text_players_third_box {
	color: #ffffff;
	z-index: 1;
}


.footballer {
	width: 29.4791vw;
	height: 47.2916vw;
	position: absolute;
	top: 1.40625vw;
	left: 20.4167vw;
	z-index: 777;
	background-image: url("../img/footballer_566.png");
	background-repeat: no-repeat;
	background-size: cover;
	
}

.players_container {
	position: relative;
	overflow: hidden;
}

.box_players_first, 
.box_players_second, 
.box_players_third {
	padding-top: 3.5em;
	padding-bottom: 3.5em;	
	padding-left: 10%;
	padding-right: 44.74%;
	
	position: relative;
	z-index: 1;
}


.box_players_third {
	background-color: #0a0e34;
	z-index: 1;
}

.box_players_second::after {
	content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0e34;
    opacity: 0.03;
}

.basketballer {
	width: 51.6145vw;
	height: 42.4479vw;
	position: absolute;
	top: 1.1979vw;
	left: 41.875vw;
	z-index: 888;
	background-image: url("../img/basketballer_991.png");
	background-repeat: no-repeat;
	background-size: contain;
}







.container_gallery {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	
	max-width: 1920px;
	width: 100%;
  	position: relative;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;

}

.be-active,
.find-contact,
.work-it {
	width: 100%;
	display: flex;
	position: relative;
}


.card_title {
	position: relative;
	width: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.pict-be-active,
.pict-find-contact,
.pict-work-it {
	width: 50%;
	
}

.be-active-img,
.find-contact-img,
.work-it-img {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.be-active-img {
	background-color: #cbe7fd;

}

.find-contact-img {
	background-color: #e2685c;
}

.work-it-img {
	background-color: #5b7aac;		
}

.description_box {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 5vw;
	padding-left: 6.6146vw;
	padding-right: 10vw;
	padding-bottom: 5vw;


}

.description_box_find_contact {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 5vw;
	padding-left: 10vw;
	padding-right: 6.6146vw;
	padding-bottom: 5vw;
	
}

.number_h2 {  /* устанавливаю номер заголовка и фиолетовый прямоугольник*/

	position: absolute;
	padding: 2.55vw 3.55vw 3.65vw 3.25vw ;
	top: -0.65vw;
	left: calc(-1.25vw/2 - 6.1vw - 3.55vw);
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25vw;
	
	font-weight: 700;
	color: #ffffff;
	background-color: #5e42b0;
	z-index: 4;
}

.number_h2_2 {  /* устанавливаю номер заголовка и фиолетовый прямоугольник*/
	position: absolute;
	padding: 2.55vw 3.55vw 3.65vw 3.25vw;
	top: -0.65vw;
	right: -10.85vw;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25vw;
	
	font-weight: 700;
	color: #ffffff;
	background-color: #5e42b0;
	z-index: 4;
}



.h2_be_active,
.h2_find_contact,
.h2_work_it {
	margin: 0;
	
	padding-bottom: 0.468em;
	position: relative;	
	font-family: 'Open Sans', sans-serif;
	font-size: 4.1667vw;
	font-weight: 700;
	/*letter-spacing: 0.05em;*/
	color: #e7e7e7;
	text-transform: uppercase;
	z-index: 1;
	
}

.number_h2::after {  /*тут я устанавливаю подчеркивание для номера в  фиолетовом прямоугольнике*/
	content: "";
	top: 4.51vw;
	left: 3.2vw;
	
	width: 1.25vw;
	height: 0.26vw;
	position: absolute;
	background-image: url(../img/subline_number_gallery.png);
	opacity: 0.3;
	z-index: 2;
}

.number_h2_2::after {  /*тут я устанавливаю подчеркивание для номера в  фиолетовом прямоугольнике*/
	content: "";
	top: 4.51vw;
	left: 3.2vw;
	
	width: 1.25vw;
	height: 0.26vw;
	position: absolute;
	background-image: url(../img/subline_number_gallery.png);
	
	opacity: 0.3;
	z-index: 2;
}
.text_be_active,
.text_find_contact,
.text_work_it {	
	padding: 0;
	margin: 0;
	font-family: "Open Sans Bold", sans-serif;	
	font-size: calc(0.83vw + 8px);
	line-height: 1.667em;
	font-weight: 500;
	letter-spacing: 0.05em;
	color: #000000;
}




.footer {
	padding-top: 11.927vw;
	padding-bottom: 2.7083vw;
	max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/game_1920.jpg) 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    z-index: 1;

    
  }



.footer::after {
	
	content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0e34;
    opacity: 0.9;
}



.title_box_footer {
	position: relative;
	padding-bottom: 7.865vw;
	
	z-index: 1;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	

}

.title-logo-footer {
	width: 6.7708vw;
	height: 07.1354vw;
	
	background-image: url("../img/logo_1920_footer.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
    
	
}

.h2-box {
	padding-left: 1.9271vw;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	

}

.h2-footer {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	font-size: 4.167vw;
	letter-spacing: 0.055em;
	color: #ffffff;
	text-transform: uppercase;
	
}

.text-undertitle-footer {
	
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1458vw;
	font-weight: 400;
	text-transform: uppercase;
	color: #a496ca;
	z-index: 1;
	position: relative;
}

.apps-buttons-footer {
	
	width: 100%;
	height: 4.0104vw;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 13.646vw;
	position: relative;
	z-index: 1;	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
}

.logo-surface-footer {
	
	
	margin-left: auto;
	margin-right: auto;

	padding: 0;
	width: 9.95%;
	height: 2.7%;
	fill: #ffffff;
	position: relative;
	z-index: 1;
	
}


@media (min-width: 641px) and (max-width: 960px) {
	.header {
		background-image: url(../img/football_1280.jpg);
		padding-top: 5.2083vw;
		padding-bottom: 11.8486vw;
	}
	

	.logo_text {
		width: 26.6925vw;
		height: 7.29vw;
	}

	.title_box {

		padding-left: 11.72vw;
		margin-top: 23.5676vw;
		margin-bottom: 40.755vw;
	}

	.h1-header {
		font-size: 8.333vw;
	}
	
	
	.slogan_secondline {
		padding-left: 13.67vw;
		font-size: 8.33vw;
	}
		
	.ios, .android {
		width: 40.795vw;
		height: 10.026vw;
		background-size: 100% 10.026vw;
	}

	.download,
	.store {
		font-size: 1.823vw;
	}
	
	.box_athlets_first, 
	.box_athlets_second, 
	.box_athlets_third {
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: 37.89%;
		padding-right: 4.3%;
	}

	.h2_athlets_title,
	.h2_players_title {
		
		padding-bottom: 0.7em;
		margin: 0;
		font-size: 10.4167vw;
	}

	.h3_athlets_first_box,
	.h3_athlets_second_box,
	.h3_athlets_third_box,
	.h3_players_first_box,
	.h3_players_second_box,
	.h3_players_third_box {
		padding-top: 0;
		padding-bottom: 0.4em;
		margin: 0;
		font-size: 4.1667vw;
	}

	.text_athlets_first_box,
	.text_athlets_second_box,
	.text_athlets_third_box,
	.text_players_first_box,
	.text_players_second_box,
	.text_players_third_box {
		font-size: 2.083vw;
		line-height: 1.75em;
	}

	.footballer {
		width: 64.71vw;
		height: 91.02vw;
		position: absolute;
		top: 12.53vw;
		left: -21.09vw;
		z-index: 777;
		background-image: url("../img/footballer_497.png");
	}

	.box_players_first, 
	.box_players_second, 
	.box_players_third {
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: 4.1667%;
		padding-right: 40.234%;
	}
	
	.basketballer {
		width: 56.77vw;
		height: 73.57vw;
		top: 5.078vw;
		left: 43.229vw;
		background-image: url("../img/basketballer_436.png");
	}
	
	.be-active,
	.find-contact,
	.work-it {
		flex-wrap: wrap;
	}

	.container_gallery {
		width: 100%;
	}

	
	.card_title {
		
		width: 100%;
	}

	.pict-be-active,
	.pict-find-contact,
	.pict-work-it {
		width: 100%;
		
	}
	
	.pict-find-contact {
		order: -1;
	}


	.description_box,
	.description_box_find_contact {
		padding-top: 3.5em;
		padding-bottom: 6em;	
		padding-left: 4.17vw;
		padding-right: 9.36vw;
	}


	.number_h2,
	.number_h2_2  {  /* устанавливаю номер заголовка и фиолетовый прямоугольник*/
		position: absolute;
		padding: 1.416em 1.85em 2em 1.85em;
		top: -18vw;
		left: 0;
		right: inherit;
		font-family: 'Open Sans', sans-serif;
		font-size: 3.125vw;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: #ffffff;
		background-color: #5e42b0;
		z-index: 4;
		}

	.number_h2::after,
	.number_h2_2::after {  /*тут я устанавливаю подчеркивание для номера в  фиолетовом прямоугольнике*/
		content: "";
		top: 9.11vw;
		left: 6vw;
		
		width: 3.26vw;
		height: 0.651vw;
		position: absolute;
		background-image: url(../img/subline_number_gallery.png);
		opacity: 0.3;
		z-index: 2;
	}
			
	
	.h2_be_active,
	.h2_find_contact,
	.h2_work_it {
		padding-bottom: 0;
		font-size: 10.417vw;
	}

	.text_be_active,
	.text_find_contact,
	.text_work_it {	
		padding-top: 0.5em;
		font-size: 3.125vw;
		line-height: normal;
	}	



	.footer {
		padding-top: 16.4vw;
		padding-bottom: 3.125vw;
		background: url(../img/game_767.jpg) 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	
	}

	.title_box_footer {
		padding-bottom: 36.33vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}

	.title-logo-footer {
		width: 16.93vw;
		height: 17.84vw;
		padding-bottom: 8.07vw;
		
	}

	.h2-box {
		padding: 0;
		margin: 0;
		display: flex;


		
	}

	.h2-footer {
		font-size: 10.41vw;
		letter-spacing: 0.055em;
		margin-left: auto;
		margin-right: auto;
	
	}

	.text-undertitle-footer {
		font-size: 4.69vw;
		margin-left: auto;
		margin-right: auto;
	
		
	}

	.apps-buttons-footer {
		width: 100%;
		height: 4.0104vw;
		margin-bottom: 13.646vw;
	}

	.logo-surface-footer {
	
		margin-left: auto;
		margin-right: auto;

		padding: 0;
		width: 26.69vw;
		height: 7.3vw;
	}
}






@media (max-width: 640px) {
	.header {
		background-image: url(../img/football_767.jpg);
		padding-top: 10.31vw;
		padding-bottom: 26.25vw;
	}
	

	.logo_text {
		width: 41.56vw;
		height: 11.25vw;
	}

	.title_box {

		padding-left: 6.25vw;
		padding-right: 6.25vw;
		margin-top: 40.32vw;
		margin-bottom: 25.94vw;
	}

	.h1-header {
		font-size: 8.75vw;
		line-height: 9.69vw;
	}
	
	
	.slogan_secondline {
		padding-top: 0.6em;
		padding-left: 13.75vw;
		font-size: 8.75vw;
		line-height: 1.2;

	}
		
	.apps_buttons,
	.apps-buttons-footer  {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 87.5%;
		z-index: 1;	
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		align-content: center;

	}

	.ios, .android {
		padding-left: 25.635vw;
		width: 100%;
		height: 10.94vw;
		background-image: url("../img/rounded_rectangle_1_copy_540.png");
		background-repeat: no-repeat;
		background-size: 100% 10.94vw;
		z-index: 1;	
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		position: relative;
		text-decoration: none;
		justify-content: center;
		align-content: center;
		
	}

	.ios {
		padding-bottom:  4.375vw;
		display: flex;
	}

	.android {
		margin: 0;
		display: flex;
	}

	.ios_icon, .android_icon {
		width: 6.25vw;
		height: 7.25vw;
		margin-left: auto;
		
		margin: 0;
		align-self: center;
		fill: #ffffff;
		margin: 0;
		position: relative;
		z-index: 2;	
	}

	
	.box_text_btn {
		padding-left: 3.125%;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		z-index: 1;	
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
	}

	 .download, .store {
		font-family: 'Open Sans', sans-serif;
		font-size: 2.5vw;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: #ffffff;
		position: relative;
		z-index: 2;	
	}
		
	.store {
		font-weight: 700;
	} 

	
	.box_athlets_first, 
	.box_athlets_second, 
	.box_athlets_third {
		padding-top: 4em;
		padding-bottom: 2em;
		padding-left: 6.25%;
		padding-right: 6.25%;
	}

	
	.h2_athlets_title,
	.h2_players_title  {
		position: absolute;
		top: -87.81vw;
	}

	.h2_athlets_title,
	.h2_players_title {
		padding-top: 0;
		padding-bottom: 4em;
		margin: 0;
		font-size: 15.625vw;
	}

	.h3_athlets_first_box,
	.h3_athlets_second_box,
	.h3_athlets_third_box,
	.h3_players_first_box,
	.h3_players_second_box,
	.h3_players_third_box {
		padding-top: 0;
		padding-bottom: 0.4em;
		margin: 0;
		font-size: 7.1875vw;
	}

	.text_athlets_first_box,
	.text_athlets_second_box,
	.text_athlets_third_box,
	.text_players_first_box,
	.text_players_second_box,
	.text_players_third_box {
		font-size: 4.6875vw;
		line-height: 1.75em;
	}

	.footballer {
		width: 60vw;
		height: 87.81vw;
		position: absolute;
		top: -70.625vw;
		left: 21.875vw;
		z-index: 777;
		background-image: url("../img/footballer_192.png");
	}

	.box_players_first, 
	.box_players_second, 
	.box_players_third {
		padding-top: 4em;
		padding-bottom: 2em;
		padding-left: 6.25%;
		padding-right: 6.25%;;
	}

	 .box_athlets_first,
	 .box_players_first {
		padding-top: 5em;
		margin-top: 95.625vw;
		background-color: #fafafa;
	}
		
	.box_athlets_second,
	.box_players_second {
		background-color: #f5f4f9;
	} 
	

	.basketballer {
		width: 94.375vw;
		height: 77.5vw;
		top: 25vw;
		left: 2.8125vw;
		background-image: url("../img/basketballer_302.png");
	}
	
	.be-active,
	.find-contact,
	.work-it {
		flex-wrap: wrap;
	}

	.container_gallery {
		width: 100%;
	}

	
	.card_title {
		
		width: 100%;
	}

	.pict-be-active,
	.pict-find-contact,
	.pict-work-it {
		width: 100%;
		
	}
	
	.pict-find-contact {
		order: -1;
	}


	.description_box,
	.description_box_find_contact {
		padding-top: 1em;
		padding-bottom:4em;	
		padding-left: 4.17vw;
		padding-right: 9.36vw;
	}


	.number_h2,
	.number_h2_2  {  /* устанавливаю номер заголовка и фиолетовый прямоугольник*/
		position: absolute;
		padding: 1.416em 1.85em 2em 1.85em;
		top: -18vw;
		left: 0;
		right: inherit;
		font-family: 'Open Sans', sans-serif;
		font-size: 3.125vw;
		font-weight: 700;
		letter-spacing: 0.05em;
		color: #ffffff;
		background-color: #5e42b0;
		z-index: 4;
	}

	.number_h2::after,
	.number_h2_2::after {  /*тут я устанавливаю подчеркивание для номера в  фиолетовом прямоугольнике*/
		content: "";
		top: 9.11vw;
		left: 6vw;
		
		width: 3.26vw;
		height: 0.651vw;
		position: absolute;
		background-image: url(../img/subline_number_gallery.png);
		opacity: 0.3;
		z-index: 2;
	}
			
	
	.h2_be_active,
	.h2_find_contact,
	.h2_work_it {
		padding-bottom: 0;
		font-size: 8.75vw;
	}

	.text_be_active,
	.text_find_contact,
	.text_work_it {	
		padding-top: 0.5em;
		font-size: 5vw;
		line-height: normal;
	}	



	.footer {
	padding-top: 30.9vw;
	padding-bottom: 3.125vw;
	background: url(../img/game_767.jpg) 50% 50%;
	background-size: cover;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	}

	.title_box_footer {
		margin-bottom: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.title-logo-footer {
		width: 16.93vw;
		height: 17.84vw;
		padding-bottom: 8.07vw;
	
	}

	.h2-box {
		padding: 0;
		margin: 0;
		display: flex;
	}

	.h2-footer {
		font-size: 10vw;
		letter-spacing: 0.05em;
		margin-left: auto;
		margin-right: auto;
		}

	.text-undertitle-footer {
		font-size: 4.375vw;
		margin-left: auto;
		margin-right: auto;
	}

	.apps-buttons-footer {
		margin-top: 34.69vw;
		margin-bottom: 36.56vw;
		
	}

	.logo-surface-footer {
		
		margin-left: auto;
		margin-right: auto;

		padding: 0;
		width: 41.56vw;
		height: 11.25vw;
	}
}
